
.cabecalho{
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    

}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 1em; */
}


.container__titulo{
    display: none;
}

.cabecalho__menu-hamburguer{
    display: inline-block ;
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    padding: 1.5rem;
    
    
    
}

.cabecalho__logo{
    width: 30px;
    padding-right: 0.5em;
}

.cabecalho__img{
    width: 40px;
    padding: 5px;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 60vw;
    z-index: 2;
    
}

/* Quando o botão for clicado é adicionado uma propriedade em um outro elemento */
.container__botao:checked ~ .lista-menu{
    display: block;
}




.lista-menu__titulo,
.lista-menu__item{
    padding: 1em;
    background-color: var(--cor-branco);
    text-transform: uppercase;

}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link{
    text-decoration: none;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 500;
    
}

.opcoes{
    display: none;
}

.container__texto{
    display: none;
}

@media screen and (min-width: 1024px) {
    
    .cabecalho{
        justify-content: space-around;
    }


    .container__titulo,
    .container__titulo-negrito{
        
        font-size: 25px;
        font-family: var( --fonte-Josefin);
    }
    
    .container__titulo{
        font-weight: 400;
        display: block;
    }
    
    .container__titulo-negrito{
        font-weight: 700;
    }
    
    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 1em;
        text-transform: uppercase;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }


    .cabecalho__active__menu{
        display: none;
    }

    .container a:nth-child(1){
        display: none;
    }


    .lista-menu{
        left: auto;
        width: auto;
    }    

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }
    

    .opcoes__botao{
        display: none;
    }


}


@media screen and (min-width:1728px) {

    .cabecalho{
        padding: 2em 4em;
    }

    .container a{
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-left: 1em;
    }

    .container__texto{
        display: block;
        color: var(--preto);
        font-size: 20px;
        
    }


    .opcoes{
        margin-right: auto;
    }

}
